:root {
	--hero-title-familty-font: "Source Sans Pro";
	--hero-title-size: 120px;
	--color-purple: #c271ff;
	--font-learn: 32px;
	--philip-size: 12px;
	--color-black: #000;
}


.section-1 {
	background-image: url(images/pic_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.hero-title {
	font-family: var(--hero-title-familty-font);
	font-size: var(--hero-title-size);
}

.btn {
	background-color: var(--color-purple);
}

.purple {
	color: var(--color-purple);
}

.learn-font {
	font-size: var(--font-learn);
	font-family: var(--hero-title-familty-font);
}

.philip {
	font-size: var(--philip-size);
	color: var(--color-black);
}

.header #menu-btn {
	display: none;
}

.carousel-section {
	background: var(--color-purple);
}

.carousel-text {
	margin-left: -35rem;
}

.play-img {
	margin-left: 5rem;
	margin-top: 2rem;
}

.reviewer-name {
	color: var(--color-purple);
	margin-left: 4.2rem;
	margin-top: -2.3rem;
}

.card-title {
	color: var(--color-black);
}

.time {
	color: var(--color-purple);
}

.arrow {
	color: var(--color-black);
	height: 15%;
}

@media (max-width: 576px) {
	.header-nav .nav-link {
		width: 100%;
		margin: 0.5rem auto;
		line-height: 1;
	}

	.header-nav {
		display: none;
		width: 100%;
		text-align: center;
		cursor: pointer;
	}

	#menu {
		cursor: pointer;
		background: white;
		height: 2px;
		width: 12px;
		position: absolute;
		left: 10px;
		top: 20px;
		display: block;
	}

	#menu::before {
		content: "";
		background: white;
		height: 2px;
		width: 20px;
		position: relative;
		top: -0.4rem;
		display: block;
		transition: all 0.2s ease;
		cursor: pointer;
	}

	#menu::after {
		content: "";
		background: white;
		height: 2px;
		width: 18px;
		position: relative;
		top: 0.3rem;
		display: block;
		transition: all 0.2s ease;
	}

	#menu-btn:checked~.header-nav {
		display: block;
	}

	#menu-btn:checked~#menu {
		background: transparent;
	}

	#menu-btn:checked~#menu::after {
		width: 1.3rem;
		top: 0.05rem;
		transform: rotate(-45deg);
	}

	#menu-btn:checked~#menu::before {
		transform: rotate(45deg);
		top: 0.19rem;
	}
}